<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${indexTitle}">Title</title>
    <title>Title</title>
</head>
<body>
<ul class="list-group" id="userList" >
    <li class="list-group-item" th:each="user : ${userList}" th:attr="data-id=${user.id}">
        <div class="userInfo">
            <h3 class="title">
                <a href="#"  th:text="${user.firstName}"></a>
            </h3>
        </div>
    </li>
</ul>
</body>
</html>